.expandMainLocation,
.collapseMainLocation {
    display: flex;
    min-height: 90vh;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    position: relative;
    top: 0px;
    gap: 0px;
    box-sizing: border-box;

    h2 {
        color: #045180;
        text-align: justify;
    }

    .currentAddress,
    .currentLocation,
    .selectLocation {
        height: 230px;
        background-color: #fff;
        border-radius: 8px;
        padding: 2px 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        box-sizing: border-box;

        h2 {
            color: #045180;
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }

    .currentAddress {
        ul {
            margin-top: 0px;
            height: 80%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-left: 15px;
            gap: 4px;
            box-sizing: border-box;

            li {
                list-style: none;
            }
        }
    }

    .currentLocation {
        width: 40%;

        background-color: #fff;
        border-radius: 8px;
        padding: 2px 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;
        box-sizing: border-box;

        .maps {
            width: 100%;
            height: 80%;
            margin: 0 auto;
        }

        h2 {
            color: #045180;
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }

    .selectLocation {
        width: 80%;
        height: 450px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .articleMaps {
            width: 100%;
            height: 85%;
            display: flex;
            flex-direction: column;
            gap: 15px;

            .buttonLocation {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                margin-top: 20px;

                button {
                    padding: 10px 20px;
                    font-size: 16px;
                    color: #fff;
                    background-color: #000;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                    transition: background-color 0.3s;

                    &:hover {
                        background-color: #000000e5;
                    }
                }
            }
        }
    }

}

.expandMainLocation {
    left: 8%;
    max-width: 92%;
}

.collapseMainLocation {
    left: 18%;
    max-width: 82%;
}

@media screen and (max-width: 1200px) {

    .expandMainLocation,
    .collapseMainLocation {
        padding-left: 73px;
        gap: 10px;

        .currentLocation {
            width: 50%;
        }

        .selectLocation {
            width: 90%;
        }
    }

}

@media screen and (max-width: 650px) {
    .expandMainLocation {
        left: 0%;
        max-width: 100%;
        padding: 20px 25px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        .currentAddress,
        .selectLocation,
        .currentLocation {
            width: 100%;
        }

        .currentLocation {
            height: 250px;
        }


    }
}

@media screen and (max-width: 500px) {
    .expandMainLocation {

        .currentAddress,
        .selectLocation,
        .currentLocation {
            h2 {
                font-size: 1.2rem;
            }
        }

        .currentAddress {
            height: 210px;

            ul {
                row-gap: 3px;

                li {
                    font-size: .9rem;
                }
            }
        }

        .selectLocation {
            .articleMaps {
                .buttonLocation {
                    button {
                        font-size: .9rem;
                        padding: 8px 16px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 360px) {
    .expandMainLocation {

        .currentAddress,
        .selectLocation,
        .currentLocation {
            h2 {
                font-size: 1rem;
            }
        }

        .currentAddress {
            height: 200px;

            ul {
                row-gap: 2px;

                li {
                    font-size: .8rem;
                }
            }
        }

        .selectLocation {
            .articleMaps {
                .buttonLocation {
                    margin-top: 0px;

                    button {
                        font-size: .8rem;
                        padding: 7px 14px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 300px) {
    .expandMainLocation {

        .currentAddress,
        .selectLocation,
        .currentLocation {
            h2 {
                font-size: .9rem;
            }
        }

        .currentAddress {
            height: 190px;

            ul {
                row-gap: 1px;

                li {
                    font-size: .7rem;
                }
            }
        }

        .selectLocation {
            .articleMaps {
                .buttonLocation {
                    button {
                        font-size: .7rem;
                        padding: 6px 12px;
                    }
                }
            }
        }
    }
}