.expandMainServices,
.collapseMainServices {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    top: 0px;
    gap: 0px;
    padding: 0px 5%;
    box-sizing: border-box;

    h2 {
        color: #045180;
        text-align: justify;
    }

    .formServices,
    .listServices,
    .buttonFormServices {
        margin: 0 auto;
        width: 90%;
        display: flex;

    }

    .formServices {
        row-gap: 15px;
        display: flex;
        flex-direction: column;

        .informationMain,
        .textBox {
            display: flex;
            width: 100%;
        }

        .informationMain {

            flex-direction: row;
            justify-content: space-between;

            label {
                display: flex;
                flex-direction: column;
                width: 40%;

                input {
                    width: 100%;
                    height: 35px;
                    text-indent: 5px;
                    border-radius: 5px;
                    box-sizing: border-box;
                }
            }

        }

        .textBox {
            flex-direction: column;
            padding: 0px;
            align-items: flex-start;

            div {
                width: 100%;
                display: flex;
                flex-direction: column;

                textarea {
                    width: 100%;
                    border-radius: 5px;
                    box-sizing: border-box;
                }
            }
        }
    }

    .buttonFormServices {
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;

        button {
            background-color: #000000;
            color: #fff;
            padding: 8px 10px;
            border: 1px solid #000000;
            border-radius: 4px;
            font-weight: 500;
            cursor: pointer;
        }

        button:hover {
            background-color: #000000e5;
            border: 1px solid #000000e5;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }
    }

    .listServices {
        li {
            list-style: none;
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            background-color: #fff;
            border-radius: 8px;
            padding: 2px 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            box-sizing: border-box;

            button {
                background-color: transparent;
                border: none;
                align-items: center;
                .icon{
                    cursor: pointer;

                }
                .icon:hover{
                    color: rgb(106, 3, 3);
                }
            }
        }
    }
}

.expandMainServices {
    left: 8%;
    max-width: 92%;
}

.collapseMainServices {
    left: 18%;
    max-width: 82%;
}

@media screen and (max-width: 1200px) {

    .expandMainServices,
    .collapseMainServices {
        padding-left: 73px;
        gap: 10px;
    }

}

@media screen and (max-width: 650px) {
    .expandMainServices {
        left: 0%;
        max-width: 100%;
        padding: 20px 25px;

        .formServices {
            .informationMain {
                flex-direction: column;
                row-gap: 10px;

                label {
                    width: 100%;
                }
            }
        }

    }
}