@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.expandMain,
.collapseMain {
    
    .formServices {
        .textBox {
            display: flex;
            width: 100%;
            flex-direction: column;
            padding: 0px;
            align-items: flex-start;

            div {
                width: 100%;
                display: flex;
                flex-direction: column;
                box-sizing: border-box;

                textarea {
                    width: 100%;
                    margin-top: 5px;
                    padding: 10px;
                    font-size: .9rem;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    transition: border-color 0.3s;
                    box-sizing: border-box;

                    &:focus {
                        border-color: #007bff;
                        outline: none;
                    }
                }

                .characterCount {
                    position: absolute;
                    right: 2%;
                    top: 65%;
                    text-align: end;
                    width: 165px;
                    font-size: .9rem;
                }
            }
        }

    }

    .listServices {
        flex-direction: column;
        justify-content: flex-start;
        row-gap: 10px;

        li {
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            border-radius: 8px;
            
            .valueAndTrash {
                display: flex;
                justify-content: space-between;
                min-width: 110px;

                p {
                    font-family: "Roboto Mono", monospace;
                    font-weight: 400;
                    font-style: normal;
                }

                button {
                    background-color: transparent;
                    border: none;
                    align-items: center;

                    .icon {
                        cursor: pointer;
                    }
                }
            }

        }
    }
}



@media screen and (max-width: 1200px) {

    .expandMain,
    .collapseMain {
        padding-left: 73px;
        gap: 10px;
    }

}

@media screen and (max-width: 650px) {
    .expandMain {
        left: 0%;
        max-width: 100%;
        padding: 20px 25px;

        .listServices {
            padding: 0px;
            align-items: center;
            box-sizing: border-box;
        }

        .formServices {
            .informationMain {
                flex-direction: column;
                row-gap: 10px;

                label {
                    width: 100%;
                }
            }
        }

    }
}

@media screen and (max-width: 500px) {
    .expandMain {
        h2 {
            font-size: 1.2rem;
        }

        .listServices {
            li {
                h3 {
                    font-size: 1rem;
                }

                p {
                    font-size: .9rem;
                }
            }
        }

        .formServices {
            .informationMain {
                label {
                    font-size: .9rem;

                    input {
                        font-size: .9rem;
                        padding: 9px;
                    }
                }

            }

            .textBox {
                div {
                    textarea {
                        font-size: .9rem;
                        padding: 9px;
                    }

                    .characterCount {
                        font-size: .9rem;

                    }
                }
            }

            .buttonFormServices {
                button {
                    font-size: .9rem;
                    padding: 8px 16px;
                }
            }
        }

    }
}

@media screen and (max-width: 360px) {
    .expandMain {
        h2 {
            font-size: 1rem;
        }

        .listServices {
            li {
                h3 {
                    font-size: .9rem;
                }

                p {
                    font-size: .8rem;
                }
            }
        }

        .formServices {
            .informationMain {
                label {
                    font-size: .8rem;

                    input {
                        font-size: .8rem;
                        padding: 8px;
                    }
                }

            }

            .textBox {
                div {
                    textarea {
                        font-size: .8rem;
                        padding: 8px;
                    }

                    .characterCount {
                        font-size: .8rem;

                    }
                }
            }

            .buttonFormServices {
                margin-top: 0px;
                button {
                    font-size: .8rem;
                    padding: 7px 14px;
                }
            }
        }

    }
}

@media screen and (max-width: 300px) {
    .expandMain {
        h2 {
            font-size: .9rem;
        }

        .listServices {
            li {
                h3 {
                    font-size: .8rem;
                }

                p {
                    font-size: .7rem;
                }
            }
        }

        .formServices {
            .informationMain {
                label {
                    font-size: .7rem;

                    input {
                        font-size: .7rem;
                        padding: 7px;
                    }
                }

            }

            .textBox {
                div {
                    textarea {
                        font-size: .7rem;
                        padding: 7px;
                    }

                    .characterCount {
                        font-size: .7rem;

                    }
                }
            }

            .buttonFormServices {
                button {
                    font-size: .7rem;
                    padding: 6px 12px;
                }
            }
        }

    }
}