@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

$font-stack: "Poppins", sans-serif;
$font-monospace: "Roboto Mono", monospace;
$body-bg-color:#f1f1f1;
$bg-color-primary: #012840;
$bg-color-secondary: #1E63A0;
$text-color-primary: #fff;
$text-color-secondary: #000;
$card-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
$card-bg-color: #fff;
$input-border-color: #007bff;