@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px 30px;
    box-sizing: border-box;

    h1 {
        font-family: "Poppins", sans-serif;
        font-weight: 800;
        font-style: normal;

        .changeColor {
            color: #1E63A0;
        }
    }

    .nav {
        display: flex;
        gap: 20px;
        align-items: center;
        box-sizing: border-box;

        .navigationLinks {
            text-decoration: none;
            cursor: pointer;
            padding: 5px 8px;
            border-radius: 3px;
            color: #000;
        }

        .navigationLinks:hover {
            background-color: #012840;
            color: #fff;
        }
    }
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 30px;
    box-sizing: border-box;

    .systemPresentation {
        background-image: url('../../images/backgroundImage.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: local;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-radius: 15px;
        box-sizing: border-box;

        .presentation {
            width: 50%;
            max-height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            row-gap: 10px;
            box-sizing: border-box;

            h2 {
                font-size: 2.5rem;
                color: #fff;
                margin: 0px 0px 0px 25px;

            }

            h2::first-letter {
                text-transform: uppercase;
            }

            .registerLink {
                margin-left: 25px;
                font-size: 1.3rem;
                font-weight: bold;
                text-decoration: none;
                cursor: pointer;
                padding: 7px 10px;
                border-radius: 4px;
                text-transform: capitalize;
                background-color: #f2f2f2;
                color: #1E63A0;
                transition: background-color 0.3s;

                &:hover {
                    background-color: #f2f2f2f0;
                }
            }
        }

        .figureSoon {
            margin: 0px;
            width: 50%;
            height: 100%;
            box-sizing: border-box;
            display: flex;

            align-items: baseline;

            img {
                max-height: 100%;
                max-width: 100%;
            }
        }
    }

    .phraseSection,
    .servicesSection {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 20px;

        h2 {
            font-size: 1.5rem;

        }
    }

    .servicesSection {
        h2 {
            text-transform: capitalize;
        }

        article {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            justify-content: space-around;
            gap: 20px;

            .feature {
                width: 250px;
                padding: 10px;
                border-radius: 10px;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
                opacity: 0;
                transform: translateY(20px);
                transition: opacity 0.6s ease-out, transform 0.6s ease-out;

                h3 {
                    font-size: 1.2rem;
                }

                p {
                    font-size: 1rem;
                    text-align: justify;
                }

            }

            .feature.show {
                opacity: 1;
                transform: translateY(0);
            }
        }

        .feature:nth-child(odd) {
            background-color: #012840;
            color: #fff;
        }

        .feature:nth-child(even) {
            background-color: #fff;
            color: #1E63A0;
        }
    }

    .phraseSection {
        h2 {
            .changeColor {
                color: #1E63A0;
            }
        }

        article {
            margin: 0 auto;
            width: 90%;
            height: 80px;
            background-color: #1E63A0;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            display: flex;
            justify-content: center;
            align-items: center;

            h3 {
                color: #fff;
                text-align: center;
            }
        }
    }
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #012840;
    color: #ffffff;
    padding: 20px 0px;
    box-sizing: border-box;

    h3 {
        font-size: 1.3em;
        margin-bottom: 10px;

        strong {
            font-size: 1.3em;

            .text {
                font-size: 1.3em;
                color: #309FFF;
                font-family: 'Fasthand', cursive;
            }
        }
    }

    .socialMedia {
        display: flex;
        justify-content: center;
        margin-top: 10px;

        .linksToFooter {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 35px;
            height: 35px;
            margin: 0 10px;
            border-radius: 50%;
            transition: background-color 0.2s ease-in-out;
            background-color: #f2f2f2;
            color: #1E63A0;

            &:hover {
                background-color: #1E63A0;
                .iconColor{
                    color:#f2f2f2;
                }
            }


            .iconColor {
                color: #1E63A0;
                font-size: 18px;
               
            }

        }
    }
}

@media screen and (max-width: 1470px) {
    main {
        .systemPresentation {
            .presentation {
                h2 {
                    font-size: 2.3rem;
                }
            }
        }
    }
}

@media screen and (max-width: 1360px) {
    main {
        .systemPresentation {
            .presentation {
                h2 {
                    font-size: 2.1rem;
                }

                .registerLink {
                    font-size: 1.2rem;
                    padding: 6px 9px;
                }
            }
        }
    }
}

@media screen and (max-width: 1250px) {
    main {
        .systemPresentation {
            .presentation {
                h2 {
                    font-size: 1.9rem;
                }
            }
        }
    }
}

@media screen and (max-width: 1150px) {
    main {
        .systemPresentation {
            .presentation {
                h2 {
                    font-size: 1.7rem;
                }

                .registerLink {
                    font-size: 1rem;
                    padding: 5px 8px;
                }
            }

        }
    }
}

@media screen and (max-width: 920px) {
    main {
        .systemPresentation {
            height: 300px;

            .presentation {
                padding: 10px 0px;

                h2 {
                    font-size: 1.5rem;
                }

                .registerLink {
                    font-size: .9rem;
                    padding: 4px 7px;
                    border-radius: 3px;
                }
            }

            .figureSoon {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;

                img {
                    position: absolute;
                    bottom: 0%;
                    height: 95%;
                }
            }

        }
    }
}

@media screen and (max-width: 890px) {
    main {
        .systemPresentation {
            .presentation {
                h2 {
                    font-size: 1.3rem;
                }
            }


        }
    }
}

@media screen and (max-width: 790px) {
    main {
        .systemPresentation {
            border-radius: 10px;
            max-height: 250px;

            .presentation {
                h2 {
                    font-size: 1rem;
                }
            }

        }
    }
}

@media screen and (max-width:660px) {
    main {

        .phraseSection,
        .servicesSection {
            h2 {
                font-size: 1.3rem;
            }
        }

        .servicesSection {
            article {
                .feature {
                    border-radius: 5px;
                    width: 100%;

                    h3 {
                        font-size: 1.1rem;
                    }

                    p {
                        font-size: 0.8rem;
                    }
                }
            }
        }

        .phraseSection {
            article {
                width: 100%;
                border-radius: 5px;

                h3 {
                    font-size: 1.1rem;
                }
            }
        }

    }
}

@media screen and (max-width: 600px) {
    header {
        h1 {
            font-size: 1rem;

            .titleUnderline::after {
                top: 20px;
            }
        }

        .nav {
            gap: 10px;

            .navigationLinks {
                font-size: .8rem;
            }
        }
    }

    main {
        .systemPresentation {
            .presentation {
                h2 {
                    font-size: .9rem;
                }

                .registerLink {
                    font-size: .8rem;
                    padding: 3px 6px;
                }
            }

        }

        .phraseSection,
        .servicesSection {
            h2 {
                font-size: 1rem;
            }
        }

        .servicesSection {
            article {
                .feature {
                    h3 {
                        font-size: .9rem;
                    }

                    p {
                        font-size: 0.7rem;
                    }
                }
            }
        }

        .phraseSection {
            article {
                h3 {
                    font-size: .9rem;
                }
            }
        }
    }
}

@media screen and (max-width: 520px) {
    header {
        padding: 5px 20px;
    }

    main {
        padding: 5px 20px;

        .systemPresentation {
            border-radius: 5px;
            max-height: 200px;
            .presentation {
                width: 55%;

                h2 {
                    font-size: .8rem;
                }

                .registerLink {
                    font-size: .6rem;
                }
            }

        }

        .figureSoon {
            width: 45%;
        }
    }
}

@media screen and (max-width: 460px) {
    header {
        h1 {
            font-size: .9rem;

            .titleUnderline::after {
                top: 18px;
            }
        }

        .nav {
            gap: 5px;

            .navigationLinks {
                padding: 3px 6px;
                border-radius: 2px;
                font-size: .7rem;
            }
        }
    }

    main {
        .systemPresentation {
            max-height: 180px;
            .presentation {
                h2 {
                    font-size: .7rem;
                }

                .registerLink {
                    font-size: .6rem;
                }
            }

        }

        .phraseSection,
        .servicesSection {
            h2 {
                font-size: .9rem;
            }
        }

        .servicesSection {
            article {
                .feature {
                    h3 {
                        font-size: .7rem;
                    }

                    p {
                        font-size: 0.6rem;
                    }
                }
            }
        }

        .phraseSection {
            article {
                h3 {
                    font-size: .7rem;
                }
            }
        }
    }
}

@media screen and (max-width: 400px) {
    header {
        padding: 5px 10px;

        h1 {
            font-weight: 700;
        }

        .nav {
            gap: 2px;

            .navigationLinks {
                padding: 2px 4px;
                border-radius: 2px;
                font-size: .6rem;
            }
        }
    }

    main {
        padding: 5px 10px;

        .systemPresentation {
            max-height: 130px;
            .presentation {
                h2 {
                    font-size: .6rem;
                }

                .registerLink {
                    font-size: .4rem;
                }
            }

        }

        .phraseSection,
        .servicesSection {
            h2 {
                font-weight: 400;
            }
        }

        .servicesSection {
            article {
                .feature {
                    h3 {
                        font-weight: 400;
                    }

                    p {
                        font-weight: 300;
                    }
                }
            }
        }

        .phraseSection {
            article {
                h3 {
                    font-weight: 400;
                }
            }
        }
    }
}

@media screen and (max-width: 320px) {
    main {
        .systemPresentation {
            max-height: 100px;
            .presentation {
                h2 {
                    font-size: .5rem;
                }

                .registerLink {
                    font-size: .3rem;
                    padding: 2px 4px;
                }
            }

        }
    }
}