@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.expandMainSchedules,
.collapseMainSchedules {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    top: 0px;
    gap: 0px;
    padding: 0px 5%;
    box-sizing: border-box;

    h2 {
        color: #045180;
        text-align: justify;
    }

    p {
        width: 100%;
        text-align: center;
    }

    .formSchedules,
    .ulSchedules {
        margin: 0 auto;
        display: flex;
        box-sizing: border-box;

    }

    .ulSchedules {
        width: 95%;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
        gap: 15px;

        .liScheduleOfDay {
            background-color: #fff;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            padding: 0px 10px;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            height: 200px;
            box-sizing: border-box;

            .captionSchedule {
                margin-bottom: 10px;
                color: #1E63A0;
            }


            section {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 100%;
                row-gap: 10px;
                box-sizing: border-box;

                .articleSchedules {
                    height: 20px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    padding: 0px 5px;
                    box-sizing: border-box;

                    p {
                        text-indent: 5px;
                        box-sizing: border-box;
                        text-wrap: wrap;
                        display: flex;
                        font-family: "Roboto Mono", monospace;
                        font-weight: 400;
                        font-style: normal;

                        abbr {
                            text-decoration: none;
                            font-weight: bolder;
                        }

                    }

                    .buttonsSchedule {
                        display: flex;
                        justify-content: flex-end;
                        column-gap: 10px;
                        margin-left: 10px;
                        box-sizing: border-box;

                        button {
                            background-color: #045180;
                            border: none;
                            border-radius: 4px;
                            color: #fff;
                            padding: 8px;
                            cursor: pointer;
                            display: flex;
                            align-items: center;
                            transition: background-color 0.3s;

                            &:hover {
                                background-color: #033D62;
                            }

                        }
                    }
                }
            }

        }
    }

    .formSchedules {
        flex-direction: column;
        padding: 20px;
        width: 90%;
        box-sizing: border-box;

        label {
            display: flex;
            flex-direction: column;
            margin-bottom: 15px;

            input,
            select {
                margin-top: 5px;
                padding: 10px;
                font-size: 16px;
                border: 1px solid #ccc;
                border-radius: 4px;
                transition: border-color 0.3s;

                &:focus {
                    border-color: #007bff;
                    outline: none;
                }
            }
        }

        .buttonFormSchedules {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            margin-top: 20px;

            button {
                padding: 10px 20px;
                font-size: 16px;
                color: #fff;
                background-color: #000;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                transition: background-color 0.3s;

                &:hover {
                    background-color: #000000e5;
                }
            }
        }
    }

}

.expandMainSchedules {
    left: 8%;
    max-width: 92%;
}

.collapseMainSchedules {
    left: 18%;
    max-width: 82%;
}

@media screen and (max-width: 1200px) {

    .expandMainSchedules,
    .collapseMainSchedules {
        padding-left: 73px;
        gap: 10px;
    }

}

@media screen and (max-width: 1000px) {

    .expandMainSchedules,
    .collapseMainSchedules {
        .ulSchedules {
            justify-content: space-around;
            width: 100%;
            padding: 0px;
            row-gap: 15px;
            column-gap: 5px;
        }
    }

}

@media screen and (max-width: 760px) {

    .expandMainSchedules,
    .collapseMainSchedules {
        .ulSchedules {
            .liScheduleOfDay {
                width: 80%;
            }
        }
    }

}

@media screen and (max-width: 650px) {
    .expandMainSchedules {
        left: 0%;
        max-width: 100%;
        padding: 20px 25px;

        .formSchedules{
            padding: 0px 10px;
            width: 100%;
        }

    }
}

@media screen and (max-width: 500px) {
    .expandMainSchedules {
        h2 {
            font-size: 1.2rem;
        }

        .ulSchedules {
            .liScheduleOfDay {
                width: 90%;

                h3 {
                    font-size: 1rem;
                }

                section {
                    .articleSchedules {
                        p {
                            font-size: .9rem;
                        }

                        .buttonsSchedule {
                            column-gap: 7px;

                            button {
                                padding: 7px;
                                border-radius: 3px;

                                .icon {
                                    font-size: .9rem;
                                    width: .9em;
                                    height: .9em;
                                }
                            }
                        }
                    }
                }
            }
        }

        .formSchedules {
            label {
                font-size: .9rem;
                input, select {
                    font-size: .9rem;
                    padding: 9px;
                }
            }

            .buttonFormSchedules {
                button {
                    font-size: .9rem;
                    padding: 8px 16px;
                }
            }
        }
    }

}

@media screen and (max-width: 360px) {
    .expandMainSchedules {
        h2 {
            font-size: 1rem;
        }

        .ulSchedules {
            .liScheduleOfDay {
                width: 90%;
                height: 170px;

                h3 {
                    font-size: .8rem;
                }

                section {
                    .articleSchedules {
                        p {
                            font-size: .8rem;
                        }

                        .buttonsSchedule {
                            column-gap: 5px;
                            margin-left: 0px;

                            button {
                                margin-left: 0px;
                                padding: 6px;
                                border-radius: 2px;

                                .icon {
                                    font-size: .8rem;
                                    width: .8em;
                                    height: .8em;
                                }
                            }
                        }
                    }
                }
            }
        }
        .formSchedules {
            label {
                font-size: .8rem;
                input, select {
                    font-size: .8rem;
                    padding: 8px;
                }
            }

            .buttonFormSchedules {
                button {
                    font-size: .8rem;
                    padding: 7px 14px;
                }
            }
        }
    }
}

@media screen and (max-width: 300px) {
    .expandMainSchedules {
        h2 {
            font-size: .9rem;
        }

        .ulSchedules {
            .liScheduleOfDay {
                height: 150px;
                width: 95%;

                h3 {
                    font-size: .7rem;
                }

                section {
                    .articleSchedules {
                        p {
                            font-size: .7rem;
                        }

                        .buttonsSchedule {
                            column-gap: 2px;

                            button {
                                padding: 5px;

                                .icon {
                                    font-size: .7rem;
                                    width: .7em;
                                    height: .7em;
                                }
                            }
                        }
                    }
                }
            }
        }
        .formSchedules {
            label {
                font-size: .7rem;
                input, select {
                    font-size: .7rem;
                    padding: 7px;
                }
            }

            .buttonFormSchedules {
                button {
                    font-size: .7rem;
                    padding: 6px 12px;
                }
            }
        }
    }
}