.expanded {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 18%;
    height: 100vh;
    padding: 20px 0px 20px 20px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: #012840;
    h1 {
        font-family: "Poppins", sans-serif;
        font-weight: 800;
        font-style: normal;
        font-size: 2.2rem;
        width: 100%;
        text-align: center;

        .underlineTitle {
            display: inline-block;
            position: relative;

            .changeColor {
                color: #1E63A0;
            }
        }

        .underlineTitle::after {
            content: '';
            position: absolute;
            left: 0;
            top: 40px;
            width: 100%;
            height: 3px;
            background-color: #1E63A0;
        }
    }

    nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 20%;
        box-sizing: border-box;

        .sidebarNavigation {
            display: flex;
            text-decoration: none;
            color: #fff;
            font-size: 1.2rem;
            font-weight: 500;
            align-items: baseline;
            padding-left: 8px;
            border-radius: 10px 0px 0px 10px;
            gap: 4px;

            abbr {
                display: flex;
                align-items: baseline;

                i {
                    display: flex;
                    align-items: baseline;
                }
            }

            box-sizing: border-box;
        }

        .sidebarNavigation:hover {
            cursor: pointer;
            background-image: linear-gradient(to bottom right, #205373, #1b5980e1);
        }
    }

    .line {
        width: 100%;
        background-color: #fff;
        border-radius: 5px;
        height: 3px;
    }

    .exit {
        display: flex;
        gap: 10px;
        box-sizing: border-box;

        button {
            background-color: transparent;
            border: none;

            abbr {
                .icon {
                    cursor: pointer;
                    font-size: 2.4rem;
                    color: #fff;
                }

            }
        }

        .show {
            display: flex;
            flex-direction: column;
            max-width: 80%;
            text-wrap: wrap;
            font-size: .8rem;
            font-weight: 300;
        }
    }
    .sidebarAltenate{
        position: absolute;
        top: 5%;
        left: 90%;
        background-color: transparent;
        border: none;

        abbr{
            display: flex;
            align-items: center;
            justify-content: center;
            .icon{
                cursor: pointer;
                font-size: 2.4rem;
                border-radius: 50%;
                padding: 0px;
                color: #1E63A0;
                background-color: #fff;
            }
        }
    }
    .removeButtons{
        display: none;
    }

}
.collected {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 8%;
    height: 100vh;
    padding: 20px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: #012840;

    .remove {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        align-items: center;
        box-sizing: border-box;
        height: 80%;
        .sidebarNavigation {
            display: flex;
            text-decoration: none;
            color: #fff;
            font-size: 2rem;
            font-weight: 500;
            align-items: baseline;
            padding: 20px;
            border-radius: 10px;
            gap: 4px;

            .remove {
                display: none;
            }

            abbr {
                display: flex;
                align-items: baseline;

                i {
                    display: flex;
                    align-items: baseline;
                }
            }

            box-sizing: border-box;
        }

        .sidebarNavigation:hover {
            cursor: pointer;
            background-image: linear-gradient(to bottom right, #205373, #1b5980e1);
        }
    }
    .line {
        width: 100%;
        background-color: #fff;
        border-radius: 5px;
        height: 3px;
    }

    .exit {
        display: flex;
        gap: 10px;
        box-sizing: border-box;
        width: 100%;
        align-items: center;
        justify-content: center;
        button {
            background-color: transparent;
            border: none;
            abbr {
                .icon {
                    padding: 20px;
                    border-radius: 10px;
                    cursor: pointer;
                    font-size: 2rem;
                    color: #fff;
                }
                .icon:hover{
                    cursor: pointer;
                    background-image: linear-gradient(to bottom right, #205373, #1b5980e1);

                }

            }
        }

        .remove{
            display: none;
        }
    }
    .sidebarAltenate{
        position: absolute;
        top: 5%;
        left: 80%;
        background-color: transparent;
        border: none;

        abbr{
            display: flex;
            align-items: center;
            justify-content: center;
            .icon{
                cursor: pointer;
                font-size: 2.4rem;
                border-radius: 50%;
                padding: 0px;
                color: #1E63A0;
                background-color: #fff;
            }
        }
    }
}
@media screen and (max-width: 1490px){
    .expanded{
        nav{
            padding-left: 10%;
        }
    }
}
@media screen and (max-width: 1360px){
    .expanded{
        nav{
            padding-left: 5%;
        }
    }
}
@media screen and (max-width: 1250px){
    .expanded{
        h1{
            font-size: 2rem;
            text-align: justify;
            .underlineTitle::after {
                top: 38px;
            }
        }
        nav{
            height: 80%;
            padding-left: 0%;
            .sidebarNavigation{
                font-size: 1rem;
            }
        }
    }
}
@media screen and (max-width: 1100px){
    .expanded{
        h1{
            font-size: 1.8rem;
            .underlineTitle::after {
                top: 34px;
            }
        }
        nav{
            height: 75%;
            justify-content: space-evenly;
            .sidebarNavigation{
                font-size: .8rem;
            }
        }
        .exit{
            button{
                .icon{
                    font-size: 1.8rem;
                }
            }
        }
    }
    .collected{
        nav{
            .sidebarNavigation{
                padding: 15px;
            }
        }
        .exit{
            button{
                abbr{
                    .icon{
                        padding: 15px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1015px){
    .expanded{
        h1{
            font-size: 1.6rem;
            .underlineTitle::after {
                top: 30px;
            }
        }
        
    }
}
@media screen and (max-width: 930px){
    .expanded{
        display: none;
    }
    .collected{
        .sidebarAltenate, .removeButtons{
            display: none;
        }
    }
}
@media screen and (max-width: 890px){
    .collected{
        nav{
            .sidebarNavigation{
                padding: 10px;
            }
        }
        .exit{
            button{
                abbr{
                    .icon{
                        padding: 10px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 780px){
    .collected{
        nav{
            .sidebarNavigation{
                padding: 5px;
                border-radius: 5px;
                font-size: 1.5rem;
            }
        }
        .exit{
            button{
                abbr{
                    .icon{
                        padding: 5px;
                        border-radius: 5px;
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 650px){
    .collected{
        flex-direction: row-reverse;
        position: relative;
        bottom: 0px;
        width: 100%;
        max-height: 100px;
        align-items: center;
        justify-content: center;
        .line {
            width: 2px;
            background-color: #fff;
            border-radius: 5px;
            height: 50px;
        }
        nav{
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            height: 100%;
            width: 85%;
        }
        .exit{
            align-items: center;
            justify-content: center;
            width: 10%;
            height: 100%;
        }
    }
}